@import './variables';

.rc-bar-chart {
  .recharts-responsive-container {
    margin: 0 auto;
  }

  .recharts-legend-wrapper {
    text-align: center;
    transform: translate3d(25px, 30px, 0);

    @media (max-width: $screen-tablet) {
      transform: translate3d(0, 30px, 0);
    }
  }

  .recharts-default-legend {
    border: 1px solid $grey;
    display: inline-block;
    padding: 2px 5px !important;
  }

  .recharts-legend-item {
    &:last-child {
      margin-right: 0 !important;
    }
  }

  .recharts-legend-item-text {
    color: $grey-dark;
    font-size: 10px;
    position: static;
  }

  .recharts-yAxis {
    .recharts-label {
      transform: translate3d(-110px, 150px, 0) rotate(-90deg);
    }
  }

  .title {
    text-align: center;
  }
}
