@import '../../../assets/scss/variables';

.rc-pie-chart {
  .recharts-responsive-container {
    margin: 0 auto;
  }

  .recharts-legend-wrapper {
    text-align: center;
    transform: translate3d(10px, 50px, 0);

    @media (max-width: $screen-tablet) {
      transform: translate3d(0, 50px, 0);
    }
  }

  .recharts-default-legend {
    border: 1px solid $grey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2px 24px;
  }

  .recharts-legend-item {
    &:last-child {
      margin-right: 0;
    }
  }

  .recharts-legend-item-text {
    color: $grey-dark;
    font-size: 10px;
    position: static;
  }

  .title {
    text-align: center;
  }
}
